<p class="fs-2 text-center">ความเป็นมาของระบบ</p>
<p class="text-center">
  ระบบจัดการวันลาของคณะวิทยาศาสตร์และเทคโนโลยี
  เป็นระบบที่จัดการข้อมูลที่เกี่ยวข้องกับวันลาของบุคคลภายในคณะวิทยาศาสตร์และเทคโนโลยีให้เป็นระบบออนไลน์ปรับเปลี่ยนจากแผ่นกระดาษเพื่อลดเวลาในตรวจสอบข้อมูลและการส่งเอกสารที่เกี่ยวข้องไปยังประธานหลักสูตรและคณบดี
  และผู้ที่เกี่ยวข้อง
  ผู้พัฒนาระบบจึงเห็นว่าถ้าหากพัฒนาระบบนี้แล้วจะสามารถสร้างประสิทธิภาพในการดำเนินงานที่รวดเร็วและมีประสิทธิภาพมากยิ่งขึ้น
</p>
<p class="fs-2 text-center">วัตถุประสงค์</p>
<p class="text-center">
  - เพื่อสร้างรูปแบบเอกสารแบบออนไลน์เพื่อใช้ในการจัดการระบบวันลา<br />
  - เพื่อให้ผู้ดูแลระบบวันลาสะดวกมากยิ่งขึ้น<br />
  - เพื่อเพิ่มประสิทธิภาพในการจัดระบบวันลาในรูปแบบออนไลน์
</p>
<p class="fs-2 text-center">ขอบเขตระบบ</p>
<p class="text-center">ระบบจัดการวันลาของคณะวิทยาศาสตร์และเทคโนโลยี มหาวิทยาลัยราชภัฏวไลอลงกรณ์ ในพระบรมราชูปถัมภ์</p>
