<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/Image/eye1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/Image/eye2.jpg" class="d-block w-100" alt="...">
      </div>
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <p class="text-center">นางสาวบุญยนุช พรรณธนะ</p>
  <p class="text-center">ชื่อเล่น อาย อายุ 20ปี </p>
  <p class="text-center">กำลังศึกษาอยู่ชั้นปี ที่3 สาขาวิทยาการคอมพิวเตอร์</p>
  <p class="text-center">คณะวิทยาศาสตร์และเทคโนโลยี</p>
