<div
  id="carouselExampleControls"
  class="carousel slide"
  data-bs-ride="carousel"
  
>
 
  <div class="carousel-inner">
    <div class="carousel-item active" style="text-align: center;">
      <img
        src="assets/Image/slide1.jpg"
        class="rounded"
        width="1000"
        height="500"
        alt="..."
      />
    </div>
    <div class="carousel-item " style="text-align: center;">
      <img
        src="assets/Image/slide2.jpg"
        class="rounded"
        width="1000"
        height="500"
        alt="..."
      />
    </div>
    
  </div>
  
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<p class="fs-2" style="text-align: center">ปรัชญา</p>
<p class="fs-4" style="text-align: center">
  วิทยาศาสตร์ก้าวล้ำ คุณธรรมเด่น เน้นการพัฒนา ด้วยภูมิปัญญาและเทคโนโลยี
</p>
<p class="fs-2" style="text-align: center">วิสัยทัศน์</p>
<p class="fs-4" style="text-align: center">
  ร่วมแรงร่วมใจในการยกระดับคุณภาพและคุณค่าขององค์กรอย่างต่อเนื่อง
  ผ่านการผลิตบัณฑิตที่รับผิดชอบต่อสังคม
  สร้างนวันกรรมเชิงบูรณาการที่ตอบสนองต่อความต้องการของผู้มีส่วนได้ส่วนเสีย
  และการเสริมสร้างความเข้มแข็งให้กับชุมชนภาคีเครือข่ายผ่านงานพันธกิจสัมพันธ์
</p>
