<!-- Navbar -->
<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background-color: #fffd92"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/Image/logo.png" alt="" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">หน้าแรก</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">เกี่ยวกับระบบงาน</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">ผู้จัดทำ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#RegisterModal">ลงทะเบียนสมาชิก</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"  data-bs-toggle="modal" data-bs-target="#loginModal" >เข้าระบบ</a>
          
        </li>
      </ul>
    </div>
  </div>
</nav>
